[submodule "plugins/vim-surround"]
    path = plugins/vim-surround
    url = https://github.com/tpope/vim-surround
[submodule "plugins/vim-polyglot"]
    path = plugins/vim-polyglot
    url = https://github.com/sheerun/vim-polyglot
[submodule "plugins/auto-pairs"]
    path = plugins/auto-pairs
    url = https://github.com/jiangmiao/auto-pairs
[submodule "plugins/vim-easy-align"]
    path = plugins/vim-easy-align
    url = https://github.com/junegunn/vim-easy-align
[submodule "plugins/vim-sneak"]
    path = plugins/vim-sneak
    url = https://github.com/justinmk/vim-sneak
[submodule "plugins/vim-commentary"]
    path = plugins/vim-commentary
    url = https://github.com/tpope/vim-commentary
[submodule "plugins/vim-vinegar"]
    path = plugins/vim-vinegar
    url = https://github.com/tpope/vim-vinegar
[submodule "plugins/vim-misc"]
    path = plugins/vim-misc
    url = https://github.com/xolox/vim-misc
[submodule "plugins/vim-session"]
    path = plugins/vim-session
    url = https://github.com/xolox/vim-session
[submodule "plugins/fzf"]
    path = plugins/fzf
    url = https://github.com/junegunn/fzf
[submodule "plugins/fzf.vim"]
    path = plugins/fzf.vim
    url = https://github.com/junegunn/fzf.vim
[submodule "plugins/vim-projectionist"]
    path = plugins/vim-projectionist
    url = https://github.com/tpope/vim-projectionist
[submodule "plugins/vim-fugitive"]
    path = plugins/vim-fugitive
    url = https://github.com/tpope/vim-fugitive
[submodule "plugins/vim-gitgutter"]
    path = plugins/vim-gitgutter
    url = https://github.com/airblade/vim-gitgutter
[submodule "plugins/vim-one"]
    path = plugins/vim-one
    url = https://github.com/rakr/vim-one
[submodule "plugins/lightline.vim"]
    path = plugins/lightline.vim
    url = https://github.com/itchyny/lightline.vim
[submodule "plugins/neoterm"]
    path = plugins/neoterm
    url = https://github.com/kassio/neoterm
