[submodule "pack/plugins/vim-surround"]
    path = pack/plugins/vim-surround
    url = https://github.com/tpope/vim-surround
[submodule "pack/plugins/vim-polyglot"]
    path = pack/plugins/vim-polyglot
    url = https://github.com/sheerun/vim-polyglot
[submodule "pack/plugins/auto-pairs"]
    path = pack/plugins/auto-pairs
    url = https://github.com/jiangmiao/auto-pairs
[submodule "pack/plugins/vim-easy-align"]
    path = pack/plugins/vim-easy-align
    url = https://github.com/junegunn/vim-easy-align
[submodule "pack/plugins/vim-sneak"]
    path = pack/plugins/vim-sneak
    url = https://github.com/justinmk/vim-sneak
[submodule "pack/plugins/vim-commentary"]
    path = pack/plugins/vim-commentary
    url = https://github.com/tpope/vim-commentary
[submodule "pack/plugins/vim-vinegar"]
    path = pack/plugins/vim-vinegar
    url = https://github.com/tpope/vim-vinegar
[submodule "pack/plugins/vim-misc"]
    path = pack/plugins/vim-misc
    url = https://github.com/xolox/vim-misc
[submodule "pack/plugins/vim-session"]
    path = pack/plugins/vim-session
    url = https://github.com/xolox/vim-session
[submodule "pack/plugins/fzf"]
    path = pack/plugins/fzf
    url = https://github.com/junegunn/fzf
[submodule "pack/plugins/fzf.vim"]
    path = pack/plugins/fzf.vim
    url = https://github.com/junegunn/fzf.vim
[submodule "pack/plugins/vim-projectionist"]
    path = pack/plugins/vim-projectionist
    url = https://github.com/tpope/vim-projectionist
[submodule "pack/plugins/vim-fugitive"]
    path = pack/plugins/vim-fugitive
    url = https://github.com/tpope/vim-fugitive
[submodule "pack/plugins/vim-gitgutter"]
    path = pack/plugins/vim-gitgutter
    url = https://github.com/airblade/vim-gitgutter
[submodule "pack/plugins/vim-one"]
    path = pack/plugins/vim-one
    url = https://github.com/rakr/vim-one
[submodule "pack/plugins/lightline.vim"]
    path = pack/plugins/lightline.vim
    url = https://github.com/itchyny/lightline.vim
[submodule "pack/plugins/neoterm"]
    path = pack/plugins/neoterm
    url = https://github.com/kassio/neoterm
[submodule "pack/plugins/ultisnips"]
    path = pack/plugins/ultisnips
    url = https://github.com/sirver/ultisnips
[submodule "pack/plugins/vim-test"]
    path = pack/plugins/vim-test
    url = https://github.com/janko-m/vim-test
[submodule "pack/plugins/async.vim"]
    path = pack/plugins/async.vim
    url = https://github.com/prabirshrestha/async.vim
[submodule "pack/plugins/vim-lsp"]
    path = pack/plugins/vim-lsp
    url = https://github.com/prabirshrestha/vim-lsp
[submodule "pack/plugins/asyncomplete.vim"]
    path = pack/plugins/asyncomplete.vim
    url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "pack/plugins/asyncomplete-lsp.vim"]
    path = pack/plugins/asyncomplete-lsp.vim
    url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "pack/plugins/asyncomplete-ultisnips.vim"]
    path = pack/plugins/asyncomplete-ultisnips.vim
    url = https://github.com/prabirshrestha/asyncomplete-ultisnips.vim
[submodule "pack/plugins/neco-syntax"]
    path = pack/plugins/neco-syntax
    url = https://github.com/Shougo/neco-syntax
[submodule "pack/plugins/asyncomplete-necosyntax.vim"]
    path = pack/plugins/asyncomplete-necosyntax.vim
    url = https://github.com/prabirshrestha/asyncomplete-necosyntax.vim
[submodule "pack/plugins/neco-vim"]
    path = pack/plugins/neco-vim
    url = https://github.com/Shougo/neco-vim
[submodule "pack/plugins/asyncomplete-necovim.vim"]
    path = pack/plugins/asyncomplete-necovim.vim
    url = https://github.com/prabirshrestha/asyncomplete-necovim.vim
[submodule "pack/plugins/rainbow"]
	path = pack/plugins/rainbow
	url = https://github.com/luochen1990/rainbow
[submodule "pack/plugins/vim-repeat"]
	path = pack/plugins/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/plugins/paredit.vim"]
	path = pack/plugins/paredit.vim
	url = https://github.com/vim-scripts/paredit.vim
[submodule "test/vader"]
	path = test/vader
	url = https://github.com/junegunn/vader.vim
