[submodule "pack/plugins/opt/vim-surround"]
	path = pack/plugins/opt/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/plugins/opt/vim-polyglot"]
	path = pack/plugins/opt/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/plugins/opt/auto-pairs"]
	path = pack/plugins/opt/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "pack/plugins/opt/vim-easy-align"]
	path = pack/plugins/opt/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "pack/plugins/opt/vim-sneak"]
	path = pack/plugins/opt/vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "pack/plugins/opt/vim-commentary"]
	path = pack/plugins/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/plugins/opt/vim-vinegar"]
	path = pack/plugins/opt/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "pack/plugins/opt/vim-misc"]
	path = pack/plugins/opt/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule "pack/plugins/opt/vim-session"]
	path = pack/plugins/opt/vim-session
	url = https://github.com/xolox/vim-session
[submodule "pack/plugins/opt/fzf"]
	path = pack/plugins/opt/fzf
	url = https://github.com/junegunn/fzf
[submodule "pack/plugins/opt/fzf.vim"]
	path = pack/plugins/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/plugins/opt/vim-projectionist"]
	path = pack/plugins/opt/vim-projectionist
	url = https://github.com/tpope/vim-projectionist
[submodule "pack/plugins/opt/vim-fugitive"]
	path = pack/plugins/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/plugins/opt/vim-gitgutter"]
	path = pack/plugins/opt/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/plugins/opt/vim-one"]
	path = pack/plugins/opt/vim-one
	url = https://github.com/rakr/vim-one
[submodule "pack/plugins/opt/lightline.vim"]
	path = pack/plugins/opt/lightline.vim
	url = https://github.com/itchyny/lightline.vim
